{% extends 'base.html' %} 
{% block title %}Home{% endblock title %} 
{% block content %} 

{% for q in question %}
<form action = "{% url 'complete' %}" method = "post">{% csrf_token %}
{{form.as_p}}
<p><b> {{ q.title }} </b></p>
	{% for a in replies %}
	{% if q.id == a.question_id_id %}
		<p><input name =  "{{a.answer}}"  type = "checkbox" value =  "{{ a.answer }}" > {{ a.answer }}</p>
	{% endif %}
	{% endfor %}
	<!--{% for a in question.answer_set.all %}
	<input type="radio" name="answer" id = "answer{{ forloop.counter }}" value="{{ answer.id }}"
	<label for = "answer{{ forloop.counter }}">{{ answer.answer }}</label>
	{% endfor %}-->
{% endfor %}
<p><input type = "submit" value = "Отправить"></p>
</form>

{% endblock content %}